<%= form_with(model: collection, local: true) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :collection_amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :collection_date %>
  </div>

  <div class="field">
    <%#= form.label :reference_id %>
    <%= form.hidden_field :reference_id, id: :collection_reference_id,value: @reference.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
