<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @collection.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @collection.date %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @collection.reference.name %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
