<%= form_with(model: invoice_bill, local: true) do |form| %>
  <% if invoice_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_bill.errors.count, "error") %> prohibited this invoice_bill from being saved:</h2>

      <ul>
      <% invoice_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference_id %>
    <%= form.text_field :reference_id, id: :invoice_bill_reference_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :invoice_bill_date %>
  </div>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :invoice_bill_customer %>
  </div>

  <div class="field">
    <%= form.label :brand_manager %>
    <%= form.text_field :brand_manager, id: :invoice_bill_brand_manager %>
  </div>

  <div class="field">
    <%= form.label :narration %>
    <%= form.text_field :narration, id: :invoice_bill_narration %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :invoice_bill_amount %>
  </div>

  <!-- <div class="field">
    <%#= form.label :total_collection %>
    <%#= form.text_field :total_collection, id: :invoice_bill_total_collection %>
  </div>

  <div class="field">
    <%#= form.label :balance_due %>
    <%#= form.text_field :balance_due, id: :invoice_bill_balance_due %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
