<p id="notice"><%= notice %></p>
<%= link_to 'Add New Bill', new_invoice_bill_path() %>
<%pending_color = params[:status] == "pending" ? "color: red;" : ""%>
<%complete_color = params[:status] == "complete" ? "color: red;" : ""%>
<%= link_to 'Show Pending Bill ', invoice_bills_path({status: "pending"}),style: pending_color %>
<%= link_to 'Show collected Bill', invoice_bills_path({status: "complete"}),style: complete_color %>
<h1>Invoice Bills</h1>

<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Invoice Date</th>
      <th>Customer</th>
      <th>Brand manager</th>
      <th>Narration</th>
      <th>Amount</th>
      <th>Total collection</th>
      <th>Balance due</th>
      <th>Add Collections</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_bills.each do |invoice_bill| %>
      <tr>
        <td><%= invoice_bill.reference.name %></td>
        <td><%= invoice_bill.date %></td>
        <td><%= invoice_bill.customer %></td>
        <td><%= invoice_bill.brand_manager %></td>
        <td><%= invoice_bill.narration %></td>
        <td><%= amount = invoice_bill.amount %></td>
        <td><%= total_bal = total_collections(invoice_bill.reference.id).abs %></td>
        <td><%= amount - total_bal %></td>
        <td><%= link_to 'New Collection', new_collection_path({reference_id: invoice_bill.reference_id}) %></td>
        <td><%= link_to 'Show', invoice_bill %></td>
        <td><%= link_to 'Destroy', invoice_bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


