<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @invoice_bill.reference.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice_bill.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice_bill.customer %>
</p>

<p>
  <strong>Brand manager:</strong>
  <%= @invoice_bill.brand_manager %>
</p>

<p>
  <strong>Narration:</strong>
  <%= @invoice_bill.narration %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice_bill.amount %>
</p>

<p>
  <strong>Total collection:</strong>
  <%= @invoice_bill.total_collection %>
</p>

<p>
  <strong>Balance due:</strong>
  <%= @invoice_bill.balance_due %>
</p>

<%= link_to 'Edit', edit_invoice_bill_path(@invoice_bill) %> |
<%= link_to 'Back', invoice_bills_path %>


<table border="2">
  <thead>
    <th>Reference</th>
    <th>Collections Date</th>
  </thead>
  <body>
    <%@collections.map do |coll|%>
      <tr>
        <td><%= coll.reference.name%></td>
        <td><%= coll.date%></td>
        <!-- <td></td> -->
      </tr>
    <%end%>
  </body>  